<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="tf_world_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 parte_interior world 40" />
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find theta_description)/urdf/robot_description.urdf -urdf -model theta_description -z 0.2"
    output="screen" />
  <node
    name="fake_joint_calibration"
    pkg="rostopic"
    type="rostopic"
    args="pub /calibrated std_msgs/Bool true" />
</launch>